{{> header }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1 style="padding-left: 2%; padding-top: 2%">Mariposa</h1>
        <h4 style="padding-left: 2%; padding-top: 2%">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem libero labore ipsa delectus aperiam ea non! Numquam delectus quaerat deserunt debitis aliquid reprehenderit repellendus qui ea? Nihil similique hic perspiciatis!</h4>
    </div>

    <div class="col-4">
        <img src="./assets/img/mariposa.jpg" class="img-thumbnail">
    </div>

</div>



{{> footer }}

